<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BillGenie">
        
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.BillGenie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity" />
        
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.BillGenie" />
        
        <activity
            android:name=".AddMenuItemActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".MenuSelectionActivity"
            android:exported="false"
            android:parentActivityName=".BillGenerationActivity" />
            
        <activity
            android:name=".MenuPricingActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".BillGenerationActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".OrdersBillingActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".TakeOrderActivity"
            android:exported="false"
            android:parentActivityName=".BillGenerationActivity" />
            
        <activity
            android:name=".SimpleCategoryActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".MenuIngredientsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".FlavourSelectionActivity"
            android:exported="false"
            android:parentActivityName=".MenuIngredientsActivity" />
            
        <activity
            android:name=".MenuItemSelectionActivity"
            android:exported="false"
            android:parentActivityName=".MenuIngredientsActivity" />
            
        <activity
            android:name=".IngredientManagementActivity"
            android:exported="false"
            android:parentActivityName=".FlavourSelectionActivity" />
            
        <activity
            android:name=".UserManagementActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <!-- Keep old BillActivity for backwards compatibility -->
        <activity
            android:name=".BillActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <!-- Backup Reminder Receiver -->
        <receiver
            android:name=".BackupReminderReceiver"
            android:enabled="true"
            android:exported="false" />
            
    </application>

</manifest>